<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %}</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"\
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <a href="{% url 'home' %}" class="navbar-brand my-0 mr-md-auto font-weight-normal">
                <img style="max-height: 50px" src="{% static 'img/logo-dark.png' %}" alt="">
            </a>
            <nav class="my-2 my-md-0 mr-md-3">
                {% if user.is_authenticated %}
                    <a class="p-2 text-dark" href="{% url 'profile' %}">Hi! {{ user.username }}</a>
                    <a class="btn btn-danger mr-2" href="{% url 'logout' %}">Đăng xuất</a>
                {% else %}
                <div class="d-flex">
                    <a class="btn btn-outline-success mr-2" href="{% url 'signup' %}">Đăng ký</a>
                    <a class="btn btn-primary mr-2" href="{% url 'login' %}">Đăng nhập</a>
                </div>
                {% endif %}
            </nav>
        </div>
    </header>
    <div class="container p-5">
        {% block main %}
        {% endblock main %}
    </div>
</body>
</html>