{% extends "base.html" %}
{% block title %}
Home Page
{% endblock title %}
{% block main %}
<div class="text-center pt-5">
    <h1 class="display-4">djangobat</h1>
    <p class="lead text-muted">Tạo trang xác thực người dùng với Django</p>
    <p>
        <a href="https://djangobat.com/blog/huong-dan-tao-tim-kiem-dung-django-filter/" class="btn btn-success my-2">Bài viết</a>
        <a href="https://github.com/djangobat/django-filter" class="btn btn-secondary my-2">Code</a>
    </p>
</div>
{% endblock main %}